.header
{
height:300px;
width:100%;
margin-left:auto;
margin-right:auto;
background-color:#990099;
}
.h
{
height:250px;
width:100%;
}
.logo
{
float:left;
}
.name
{
height:250px;
width:70%;
float:right;
font:bold;
}
.n
{
position:relative;
top:100px;
left:180px;
font-size:50px;
}
.menu
{
height:50px;
width:100%;
float:left;
font-size:23px;
background-color:#CC9933;
}
.menu ul li 
{
display:inline;
padding:50px;
}
.menu ul li a
{
text-decoration:none;
color:#000000;
}
.footer
{
height:100px;
width:100%;
margin-left:auto;
margin-right:auto;
background-color:#FF00CC;
}
.f
{
text-align:center;
font-size:50px;
}
.home
{
height:600px;
width:100%;
margin-left:auto;
margin-right:auto;
background-color:#CCCCCC;
}
.img
{
height:600px;
width:50%;
float:left;
}
.heading
{
height:200px;
width:50%;
float:right;
text-align:center;
font-size:36px;
text-decoration:underline;
}
.para
{
height:400px;
width:50%;
float:right;
font-size:24px;
text-align:center;
}
.about
{
height:600px;
width:100%;
margin-left:auto;
margin-right:auto;
background-color:#003399;
background-image:url(img/IMG_20230616_195256.jpg);
background-repeat:no-repeat;
background-size:100% 600px;
}
.img1
{
border:3px dotted #FFFF00;
float:left;
}
.img2
{
border:3px dotted #FFFF00;
float:left;
}
.img3
{
border:3px dotted#FFFF00;
float:right;
}
.img4
{
border:3px dotted #FFFF00;
float:left;
}
.img5
{
border:3px dotted #FFFF00;
float:left;
}
.img6
{
border:3px dotted #FFFF00;
float:right;
}
.service
{
height:600px;
width:100%;
margin-left:auto;
margin-right:auto;
background-color:#FFFFCC;
text-align:center;
}
th
{
background-color:#99FFFF;
}
tr:nth-child(odd)
{
background-color:#99FF33;
}
tr:nth-child(even)
{
background-color:#00FF00;
}
.contact
{
height:600px;
width:100%;
margin-left:auto;
margin-right:auto;
background-color:#CCFF99;
}
.map
{
height:300px;
width:100%;
float:none;
}
.address
{
height:300px;
width:50%;
float:left;
font-size:24px;
text-align:center;
}
.contact1
{
height:300px;
width:50%;
float:right;
font-size:24px;
text-align:center;
}
.register
{
height:600px;
width:100%;
margin-left:auto;
margin-right:auto;
background-color:#99FFCC;
font-size:24px;
text-align:left;
font-weight:bold;
}





















































